<?xml version='1.0' encoding='utf-8'?><widget id="Com.WebApk.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"><n>Web to apk</n><description>Built with APK Builder Pro</description><author>APK Builder Pro</author><content src="index.html"/><preference name="DisallowOverscroll" value="true"/><preference name="android-targetSdkVersion" value="33"/><preference name="Orientation" value="portrait"/><allow-navigation href="*"/><allow-intent href="*"/><access origin="*"/></widget>